stages:
  - build
  - publish

variables:
  APP_ID: onion.torzu_emu.torzu
  MANIFEST_PATH: onion.torzu_emu.torzu.json
  IMAGE_NAME: torzu
  IMAGE_TAG: stable
  FLATPAK_BUNDLE: torzu
  FLATPAK_BRANCH: stable
  FLATPAK_BUILD_DIR: build-dir
  FLATPAK_BUILD_REPO: build-repo
  GIT_SUBMODULE_STRATEGY: recursive

build_flatpak:
  stage: build
  image: ubuntu:24.04
  script:
    - apt-get update -y && apt-get install -y flatpak-builder git bzip2 ca-certificates ccache
    - flatpak-builder --show-manifest ${MANIFEST_PATH} > canonical-manifest.json
    - flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    - flatpak-builder --default-branch=${FLATPAK_BRANCH} --install-deps-from=flathub --install-deps-only --user /dev/null ${MANIFEST_PATH}
    - flatpak-builder --default-branch=${FLATPAK_BRANCH} --download-only /dev/null ${MANIFEST_PATH}
    - git config --global protocol.file.allow always
    - flatpak-builder --default-branch=${FLATPAK_BRANCH} --disable-updates --disable-download --ccache --sandbox --repo=${FLATPAK_BUILD_REPO} ${FLATPAK_BUILD_DIR} ${MANIFEST_PATH}
  cache:
    key:
      files:
        - canonical-manifest.json
    paths:
      - .flatpak-builder/ccache
  artifacts:
    paths:
      - ${FLATPAK_BUILD_REPO}
    expire_in: 1 day
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

publish_oci_and_pages:
  stage: publish
  image: ubuntu:24.04
  dependencies:
    - build_flatpak
  script:
    # Install tools
    - apt-get update -y && apt-get install -y skopeo flatpak jq npm
    - npm install -g wrangler
    # Create OCI bundle
    - mkdir -p ${FLATPAK_BUILD_REPO}/{extensions,refs/{mirrors,remotes},state,tmp/cache}
    - flatpak build-bundle --oci --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo ${FLATPAK_BUILD_REPO} ${FLATPAK_BUNDLE} ${APP_ID} ${FLATPAK_BRANCH}
    
    # Login and Push to Docker Hub
    - echo "Logging in to Docker Hub..."
    - skopeo login --username "${DOCKERHUB_USERNAME}" --password-stdin docker.io <<<$DOCKERHUB_TOKEN
    - echo "Pushing OCI image to Docker Hub..."
    - skopeo copy oci:${FLATPAK_BUNDLE} docker://docker.io/${DOCKERHUB_USERNAME}/${IMAGE_NAME}:${IMAGE_TAG}
    
    # Generate and Deploy Static Index to Cloudflare Pages
    - echo "Generating static index for Docker Hub..."
    - export DOCKER_IMAGE_REPO="${DOCKERHUB_USERNAME}/${IMAGE_NAME}"
    - mkdir -p cf-pages/index
    - |
      skopeo inspect docker://docker.io/${DOCKER_IMAGE_REPO}:${IMAGE_TAG} | jq '. as $img | { "Registry": "docker.io", "Results": [ { "Name": "'${DOCKER_IMAGE_REPO}'", "Images": [$img] } ] }' > cf-pages/index/static
    - echo "Deploying static index to Cloudflare Pages..."
    - wrangler pages deploy cf-pages --project-name ${CLOUDFLARE_PROJECT_NAME} --commit-dirty=true
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && ($CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web")'