# Based on https://github.com/tenacityteam/tenacity-flatpak-nightly
name: Flatpak

on:
  #push:
  #  branches:
  #    - master
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  # App ID (reverse-DNS) (example= org.tenacityaudio.Tenacity)
  APP_ID: onion.torzu_emu.torzu
  # Path to manifest (example= org.tenacityaudio.Tenacity.yaml)
  MANIFEST_PATH: onion.torzu_emu.torzu.json
  # Name of Docker image (example= tenacity)
  IMAGE_NAME: torzu
  # Tag of image  (example= stable, beta, nightly)
  IMAGE_TAG: stable
  # Name of bundle (excl. .flatpak) (example= tenacity)
  FLATPAK_BUNDLE: torzu
  # Flatpak branch (example= stable, beta, nightly)
  FLATPAK_BRANCH: stable

  FLATPAK_BUILD_DIR: build-dir
  FLATPAK_BUILD_REPO: build-repo

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install flatpak-builder
      run: |
        set -e
        sudo apt update -y
        sudo apt install -y flatpak-builder

    - name: Dump canonical manifest
      run: |
        set -e
        flatpak-builder --show-manifest ${MANIFEST_PATH} > canonical-manifest.json

    - name: Download flatpak SDK and sources
      run: |
        set -e
        flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak-builder --default-branch=${FLATPAK_BRANCH} --install-deps-from=flathub --install-deps-only --user /dev/null ${MANIFEST_PATH}
        flatpak-builder --default-branch=${FLATPAK_BRANCH} --download-only /dev/null ${MANIFEST_PATH}

    - name: Prime cache
      uses: actions/cache@v3
      with:
        path: |
          .flatpak-builder/ccache
        key: flatpak-builder-${{ hashFiles('canonical-manifest.json') }}
        restore-keys: |
          flatpak-builder-

    # In Ubuntu, Git no longer allows you to add a submodule via file:///
    # transport. As a fix, run git config --global protocol.file.allow always
    - name: Fix Git
      run: |
        git config --global protocol.file.allow always

    - name: Build flatpak
      run: |
        set -e
        flatpak-builder --default-branch=${FLATPAK_BRANCH} --disable-updates --disable-download --ccache --sandbox --repo=${FLATPAK_BUILD_REPO} ${FLATPAK_BUILD_DIR} ${MANIFEST_PATH}

    - name: Upload flatpak repo
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.FLATPAK_BUILD_REPO }}
        path: ${{ env.FLATPAK_BUILD_REPO }}

  publish-bundle:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-24.04
    needs: build

    steps:
    - uses: actions/checkout@v4

    - name: Install flatpak
      run: |
        set -e
        sudo apt update -y
        sudo apt install -y flatpak

    - name: Download flatpak repo
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.FLATPAK_BUILD_REPO }}
        path: ${{ env.FLATPAK_BUILD_REPO }}

    - name: Create flatpak bundle
      run: |
        set -e
        mkdir -p ${FLATPAK_BUILD_REPO}/{extensions,refs/{mirrors,remotes},state,tmp/cache}
        flatpak build-bundle --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo ${FLATPAK_BUILD_REPO} ${FLATPAK_BUNDLE}.flatpak ${APP_ID} ${FLATPAK_BRANCH}

    - name: Upload flatpak bundle
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.FLATPAK_BUNDLE }}
        path: ${{ env.FLATPAK_BUNDLE }}.flatpak

  publish-oci:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    needs: build

    steps:
    - uses: actions/checkout@v4

    - name: Install flatpak and libcontainers tools
      run: |
        set -e
        sudo apt update -y
        sudo apt install -y skopeo flatpak jq

    - name: Download flatpak repo
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.FLATPAK_BUILD_REPO }}
        path: ${{ env.FLATPAK_BUILD_REPO }}

    - name: Create OCI bundle
      run: |
        set -e
        mkdir -p ${FLATPAK_BUILD_REPO}/{extensions,refs/{mirrors,remotes},state,tmp/cache}
        flatpak build-bundle \
          --oci \
          --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo \
          ${FLATPAK_BUILD_REPO} ${FLATPAK_BUNDLE} ${APP_ID} ${FLATPAK_BRANCH}

    - name: Publish OCI image
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
        REGISTRY_AUTH_FILE: /tmp/auth.json
      run: |
        export IMAGE_REPOSITORY=$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
        set -e
        skopeo login --username "${{ github.actor }}" --password-stdin ghcr.io <<<$GITHUB_TOKEN
        skopeo copy \
          oci:${FLATPAK_BUNDLE} \
          docker://ghcr.io/${IMAGE_REPOSITORY}:$IMAGE_TAG

    - name: Update static index
      env:
        REGISTRY_AUTH_FILE: /tmp/auth.json
      run: |
        export IMAGE_REPOSITORY=$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
        set -e
        git clone -b gh-pages https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git gh-pages
        skopeo inspect docker://ghcr.io/${IMAGE_REPOSITORY}:$IMAGE_TAG | \
          jq '. as $img | { "Registry": "https://ghcr.io/", "Results": [ { "Name": "'${IMAGE_REPOSITORY}'", "Images": [$img] } ] }' \
          > gh-pages/index/static
        cd gh-pages
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        git add index/static
        git commit -m "Update index for ${GITHUB_SHA:0:7}"
        git push
