name: 'Update Flathub Dependencies'


on:
  #schedule:
  #  - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch: {}

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: [ 'master' ]

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
          fetch-depth: 0

      - name: 'Run flatpak-external-data-checker'
        uses: docker://ghcr.io/flathub/flatpak-external-data-checker:latest
        with:
          args: --update --never-fork onion.torzu_emu.torzu.json
        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: 'github-actions[bot]'
          GIT_COMMITTER_NAME: 'github-actions[bot]'
          GIT_AUTHOR_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
          GIT_COMMITTER_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'