name: Update
on:
  #schedule:
  #  - cron: 0 0 * * 0
  workflow_dispatch:

env:
  MANIFEST_PATH: dev.eden_emu.eden.json
  REPO_BRANCH: testing
jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub/flatpak-external-data-checker

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Update manifest
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      run: |
        set -x
        git clone -b ${REPO_BRANCH} https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git ${REPO_BRANCH}
        cd ${REPO_BRANCH}
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        /app/flatpak-external-data-checker --update --commit-only ${MANIFEST_PATH}

    - name: Push to branch
      continue-on-error: true
      run: |
        set -x
        cd ${REPO_BRANCH}
        git push https://${{ github.actor }}:${{ secrets.PAT }}@github.com/${{ github.repository }}.git HEAD:${REPO_BRANCH}